<html>
<head>
	<title>Flipt Example</title>
</head>

<body>

<h1>Flipt Example App</h1>

<form method="POST" action="/evaluation">
  <label for="backend">Backend</label><br>
  <input type="radio" id="sidecar" name="backend" value="sidecar" checked="checked" />
  <label for="sidecar">Sidecar</label>
  <input type="radio" id="master" name="backend" value="master" />
  <label for="master">Master</label><br><br>
  <input type="text" placeholder="Flag Name" name="flagName" id="flagName" /><br><br>
  <label for="context">Context Key</label><br>
  <input type="text" name="contextKey" id="contextKey" value="in_segment" disabled /><br>
  <label for="context">Context Value</label><br>
  <input type="text" name="contextValue" id="contextValue" value="segment_001" disabled /><br><br>
	<input type="submit" value="Evaluate Flag"/>
</form>

<h2>Evalution Results</h2>

{{ if .Evaluation }}		
	{{ range .Evaluation }}
		<p>{{ .Value }}</p>
	{{ end }}
{{ else }}
	<p>
		<strong>No Evaluation Data yet. Make some evaluations!</strong>
	</p>
{{ end }}

</body>
</html>